.App {
  text-align: center;
  font-size: 40px;
  background-color: rgb(227, 125, 227);
  margin: 80px;
  padding: 20px;
  border: 10px solid #888888;
  border-radius: 50px;
}

.answer-btn,
.restart-btn {
  font-size: 25px;
  margin: 5px;
  padding: 6px;
  border: 4px solid #888888;
  border-radius: 9px;
  background-color: #d4d4d4;
  transition-duration: 0.4s;
}

.answer-btn:hover,
.restart-btn:hover {
  background-color: #888888;
  color: white;
}
